aws-xray-sdk==2.7.0
botocore==1.20.59
ecdsa==0.14.1
future==0.18.2
jmespath==0.10.0
mccabe==0.6.1
pyasn1==0.4.8
pycodestyle==2.7.0
pyflakes==2.3.1
python-dateutil==2.8.1
python-jose==3.2.0
rsa==4.7.2
six==1.15.0
urllib3==1.26.4
wrapt==1.12.1
